<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Registro</title>
    <link rel="stylesheet" href="css/stylesregister.css">
</head>
<body>
    <header>
        <div class="top-header">
            <div class="logo"> 
                <img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
            </div>
            <div class="form" action="#" method="GET">
                <div class="input">Buscar productos,marcas </div>
                <div class="submit"><i class="fa fa-search"></i></div>
            </div>
            <div class="letra">
            <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        </div>
        <nav>
            <div class="contenedorFlex">
                <div class="Caja1">
                    <ul>
                        <li><a href="#">Ofertas</a></li>
                        <li><a href="#">Tiendas Oficiales</a></li>
                        <li><a href="#">Vender</a></li>
                        <li><a href="#">Ayuda</a></li>
                    </ul>
                </div>
                <div class="Caja2">
                    <ul>
                        <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                        <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                        <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                    </ul>
                </div>

            </div>

        </nav>                
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>

    <main>
        <div class="contenedor">
          <div class="container_form">
            <form action="/empty">
            <div class="nombre">
            <input type="text" id="lnombre y apellidos" name="nombre y apellidos" placeholder="Nombre y Apellido"><br></div>
            <input type="text" id="lnombre de usuario" name="nombre de usuario" placeholder="Nombre de Usuario"><br> 
            <label for="nacimiento">Fecha De nacimiento</label><br>
            <input type="date"><br>
            <input type="text" id="lDomicilio" name="lDomicilio" placeholder="Domicilio"><br>
            <label for="Perfil">Perfil de usuario</label>
            <input type="radio" name="Vendedor" id="vendedor" value="Vendedor">
            <label for="vendedor">Vendedor</label>
            <input type="radio" name="Vendedor" id="comprador" value="Comprador">
            <label for="comprador">Comprador</label><br>
            <label for="intereses">Intereses</label><br>
            <input type="checkbox" id="electro" value="electro">
            <label for="electro">electro</label> <br>
            <input type="checkbox" id="moda" value="moda">
            <label for="moda">moda</label> <br>
            <input type="checkbox" id="hogar" value="hogar">
            <label for="hogar">hogar</label> <br>
            <input type="checkbox" id="jugeteria" value="jugeteria">
            <label for="jugeteria">jugeteria</label><br>
            <input type="checkbox" id="vidaSana"  value="VidaSana">
            <label for="VidaSana">Vida sana</label><br>
            <label for="foto">Elegí tu foto de usuario</label><br>
            <input type="file" name="adjunto" accept=".pdf,.jpg,.png" multiple /><br><br>
            <input type="password" id="contraseña" name="lcontra" placeholder="Elegí contraseña"><br>
            <input type="password" id="contfirma" name="lconfirm" placeholder="Confirma contraseña"> <br><br>
           
            <button type="submit">Crear</button>
            <button type="reset">Borrar</button>
        </form>
            </div>
         </div>

    </main>
    <footer>
        <div class="pie_de_pagina">
            <div>
                <i class="fas fa-credit-card"></i>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!
        </p>
            </div>
        <div>
            <i class="fas fa-gift"></i>
        <h4>Envío gratis desde $ 2.500</h4>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.
        </p>
        </div>
        <div>
            <i class="fas fa-user-shield"></i>
        <h4>Seguridad, de principio a fin</h4>
        <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.
        </p>
        </div>
        </div>
        <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
    
    </footer>  
</body>
</html>